@mixin styles() {
    /**
     * Custom theme for Highlight.js based initially on the Stack Overflow theme for Highlight.js.
     */

    /* light (default) theme */
    :root {
        --highlight-addition: #8dad98;
        --highlight-alt-bg: #e5e5e5;
        --highlight-attribute: #0177b3;
        --highlight-bg: #f6f6f6;
        --highlight-copy-bg: #fffbcd;
        --highlight-border: #c1c1c1;
        --highlight-btn-border: #3c3c3c;
        --highlight-color: #2f3337;
        --highlight-comment: #656e77;
        --highlight-deletion: #c02d2e;
        --highlight-keyword: #015692;
        --highlight-operator: #3a697d;
        --highlight-literal: #b75501;
        --highlight-namespace: #b75501;
        --highlight-punctuation: #686d75;
        --highlight-symbol: #803378;
        --highlight-variable: #54790d;
        --highlight-number: #0a58b2;
        --highlight-tag: #437C17;
        --highlight-section: #a626a4;
        --highlight-doctag: #d08818;
        --highlight-meta: #949494;
    }

    /* dark theme */
    html.dark, html.dark-mode {
        --highlight-addition: #76c490;
        --highlight-alt-bg: #292929;
        --highlight-attribute: #68a8e4;
        --highlight-bg: #1c1b1b;
        --highlight-border: #999999;
        --highlight-btn-border: #4d4d4d;
        --highlight-color: #ffffff;
        --highlight-comment: #999999;
        --highlight-copy-bg: #4a4040;
        --highlight-deletion: #de7176;
        --highlight-keyword: #88aece;
        --highlight-operator: #58a2c3;
        --highlight-literal: #f08d49;
        --highlight-namespace: #f08d49;
        --highlight-punctuation: #bbbbbb;
        --highlight-symbol: #c59bc1;
        --highlight-variable: #b5bd68;
        --highlight-number: #5296d1;
        --highlight-tag: #76c7b7;
        --highlight-section: #d78dea;
        --highlight-doctag: #d88816;
        --highlight-meta: #7a7a7a;
    }
}