:root {
    --padding: 15px;
    --primary-bg: #333333;
    --primary-color: #f8f8f8;
    --secondary-bg: #f8f8f8;
    --secondary-color: #000000;
}

html.dark, html.dark-mode {
    --primary-bg: #333333;
    --primary-color: #f8f8f8;
    --secondary-bg: #4b4b4b;
    --secondary-color: #f8f8f8;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto/roboto-regular.woff2') format('woff2'),
         url('./fonts/roboto/roboto-regular.woff') format('woff'),
         url('./fonts/roboto/roboto-regular.ttf')  format('truetype')
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--secondary-bg);
    font-size: 18px;

    a {
        text-decoration: none;
        color: #278ee1;
        font-weight: bold;
    }

    .header {
        display: block;
        font-size: 2rem;
        margin: 2rem 0 .75rem 0;
        font-weight: bold;
    }

    .lang-title {
        display: block;
        font-size: 1.35em;
        margin: 2vw 0 .75rem 0;
        font-weight: bold;
    }

    header {
        padding: var(--padding);
        background-color: var(--primary-bg);
        color: var(--primary-color);

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1200px;
            margin: var(--padding) auto 0 auto;

            #color-mode {
                display: flex;
                align-items: center;
            }

            #github {
                display: flex;
                justify-content: end;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                }

                svg {
                    width: 50px;
                    height: 50px;
                    fill: var(--secondary-bg);
                    cursor: pointer;
                }
            }
        }
    }

    main {
        margin: 0 auto;
        padding: var(--padding);
        max-width: 1200px;
        color: var(--secondary-color);
    }

    footer {
        padding: calc(var(--padding) * 2);
        text-align: center;
        background-color: var(--primary-bg);
        color: var(--primary-color);

        svg {
            fill: #f06464;
            margin: 0 2px -7px 2px;
        }
    }
}

#color-mode {
    cursor: pointer;

    .toggle {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 34px;

        input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background-color: var(--secondary-bg);
            }

            &:checked + .slider:before {
                transform: translateX(36px);
            }

            &:checked + .slider .icon.sun {
                transform: translateY(100px);
                opacity: 0;
            }

            &:checked + .slider .icon.moon {
                transform: translateY(-100px);
                opacity: 1;
            }
        }
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }
    
    .icon {
        position: absolute;
        top: 5px;
        transition: 0.4s;
        cursor: pointer;

        svg {
            height: 20px;
            width: 20px;
            fill: var(--primary-bg);
            opacity: .5;
        }

        &.sun {
            left: 7px;
            top: 7px;
        }

        &.moon {
            right: 7px;
            top: 7px;
        }
    }
}
